<div class="super-container">
<div class="inner-container">
<div class="container">
<h1>Add your pet:</h1>
<%= simple_form_for(@pet) do |f| %>
  <%= f.input :name %>
  <%= f.input :species, :collection => ['Cat', 'Dog', 'Rabbit', 'Duck', 'Hamster', 'Iguana', 'Parrot'] %>
  <%= f.input :sex %>
  <%= f.input :neutered %>
  <%= f.input :age %>
  <%= f.input :special_instructions %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
</div>
</div>
</div>
