<div class="container">
  <div class="spacer-show">
    <div class="card-pet-closeup">
      <%= cl_image_tag @pet.photo.key, crop: :fill %>
      <div class="card-pet-infos">
          <a href="<%= pets_path %>"><i class="fa-solid fa-caret-left back-arrow"></i></a>
        <ul>
          <li id="pet-name"><strong><%= @pet.name %></strong></li>
          <li><strong><i class="fa-solid fa-paw"></i>  <%= @pet.species %></strong></li>
          <li><strong><i class="fa-solid fa-mars-and-venus"></i>  <%= @pet.sex %></strong></li>
          <li><strong><i class="fa-solid fa-cake-candles"></i>    <%= @pet.age %></strong></li>
          <li>
            <% if @pet.neutered %>
              <i class="fas fa-check-circle" style="color: green;"></i>
            <% else %>
              <i class="fas fa-times-circle" style="color: red;"></i>
            <% end %>
            <strong>Neutered</strong>
          </li>

          <li><strong>Special Instructions:</strong></li>
         <li> <%= @pet.special_instructions %></li>
        </ul>
        <%# <%= link_to "Edit", edit_pet_path(@pet), class: "btn btn-gradient"%>
        <%= link_to "Book me!", new_pet_booking_path(@pet), class: "button-52"%>
        <%= link_to "Delete",
          pet_path(@pet),
          class: "button-42",
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      </div>
    </div>
  </div>
</div>
