<div class="container">
  <h1>Pet Details:</h1>
  <div class="card-pet-closeup">
  <%= cl_image_tag @pet.photo.key, height: 300, width: 300, crop: :fill %>
    <div class="card-pet-infos">
  <ul>
    <li><strong>Name:</strong> <%= @pet.name %></li>
    <li><strong>Species:</strong> <%= @pet.species %></li>
    <li><strong>Sex:</strong> <%= @pet.sex %></li>
    <li><strong>Neutered:</strong> <%= @pet.neutered ? "Yes" : "No" %></li>
    <li><strong>Age:</strong> <%= @pet.age %></li>
    <li><strong>Special Instructions:</strong> <%= @pet.special_instructions %></li>
  </ul>
  <%= link_to "Edit", edit_pet_path(@pet), class: "btn btn-gradient"%>

  <%= link_to "Book me!", new_pet_booking_path(@pet), class: "btn btn-gradient"%>

  <%= link_to "Back to Adorable Pets list", pets_path, class: "btn btn-gradient" %>
    </div>
  </div>
<%# <% link_to 'Delete'
  pet_path(@pet),
  data: {turbo_method: :delete, turbo_method: "Are you sure?"}
%>
</div>
