<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/drfmymoki/image/upload/v1677519243/cdf28c2d-5a2d-42db-9346-c2886e3bb0ae_dog-indoors-woman-sofa-AdobeStock_199489473_vpmcwa.avif);">
  <div class="container">
    <h1><strong>Share your pet</strong></h1>
    <h1><strong>or lend it to others</strong></h1>
    <div class="spacer"></div>
    <%= link_to "See all pets", pets_path, class: "button-52" %>
  </div>
</div>

<div class="expand-menu-container">
  <div class="box">
    <img src="https://res.cloudinary.com/drfmymoki/image/upload/c_crop,g_north_east,h_562,w_903/v1677519075/4.-labrador-1220x687_g5awms.jpg">
    <span><%= link_to "Dogs", pets_path(query:'%Dog%') %></span>
  </div>
  <div class="box">
    <img src="https://res.cloudinary.com/drfmymoki/image/upload/c_crop,g_east,h_2113,y_365/v1677518955/kitten-playing-with-toy-mouse-royalty-free-image-590055188-1542816918_jwpeym.jpg">
    <span><%= link_to "Cats", pets_path(query:'Cat') %></span>
  </div>
  <div class="box">
    <img src="https://res.cloudinary.com/drfmymoki/image/upload/v1677845337/wild-rabbit-166068_qecklz.jpg">
    <span><%= link_to "Rabbits", pets_path(query:'%Rabbit%') %></span>
  </div>
  <div class="box">
    <img src="https://res.cloudinary.com/drfmymoki/image/upload/c_crop,g_north,h_308,w_800/v1677584374/What-kind-of-animal-is-parrot_egumo6.jpg">
    <span><%= link_to "Parrots", pets_path(query:'%Parrot%') %></span>
  </div>
</div>

<div class="wave-container"></div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/noodle_thehalfpoodle/"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

